@use '../../utils/vars' as var;
@use '../../utils/mixins' as mixin;
@use '../../utils/placeholders';

.wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mixin.onDesktop() {
    gap: 3rem;
  }
}

.bottom {
  background: var.$main-bg-color;
  @extend %horizontal-padding__page-item;
  padding-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  &__subTitle {
    color: var.$typography-color1;
  }

  @include mixin.onDesktop {
    gap: 2rem;
  }
}

.title {
  color: var.$typography-color3;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  @include mixin.onTablet {
    max-width: 60%;
  }
}
