@use '../../../utils/mixins' as mixin;
@use '../../../utils/vars' as var;
@use '../../../utils/placeholders';

.listItem {
  @extend %vertical-padding;
  border-bottom: var.$border;

  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.check {
  flex-shrink: 0;
  font-size: 1em;
}
