@use '../../../utils/mixins' as mixin;
@use '../../../utils/vars' as var;
@use '../../../utils/placeholders';

.wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include mixin.onTablet {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}

.video {
  width: 100%;
  position: relative;

  padding-top: 60%;
}

.iFrame {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
