@use '../../../utils/mixins' as mixin;
@use '../../../utils/vars' as var;
@use '../../../utils/placeholders';

.commonLayout {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__top {
    background: center / cover no-repeat
      url('../../../../public/assets/img/page-title.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @extend %vertical-padding__title-page;

    color: var.$typography-color4;
    text-align: center;
  }
}
