@use '../utils/reset';
@use '../utils/vars' as var;
@use '../utils/mixins' as mixin;
@use '../utils/placeholders';

@use '../utils/typography';

.bodyLock {
  position: fixed;
  overflow: hidden;
}

body {
  width: 100vw;
}

.mainContainer {
  width: 100%;
  max-width: var.$max-width;
  margin: 0 auto;

  &_padding {
    @extend %horizontal-padding;
    @extend .mainContainer;
  }
}

.logo {
  justify-self: center;
  flex-shrink: 0;
  height: var.$logo-height;
  width: var.$logo-width;
  transition: var.$transition;

  & > img {
    object-fit: contain;
    object-position: center;
    height: 100%;
  }

  &:hover,
  &:focus {
    transform: var.$transform;
  }
}
