@use '../utils/reset';
@use '../utils/vars' as var;
@use '../utils/mixins' as mixin;
@use '../utils/placeholders';

.bodyLock {
  position: fixed;
  overflow: hidden;
}

.mainContainer {
  width: 100%;
  max-width: var.$max-width;
  margin: 0 auto;

  &_padding {
    @extend %horizontal-padding;
    @extend .mainContainer;
  }
}

