@use '../../../utils/mixins' as mixin;
@use '../../../utils/vars' as var;
@use '../../../utils/placeholders';

.dropdown {
  position: relative;
  z-index: 2;

  &__top {
    background: var.$main-bg-color;

  }


  &__bottom {
    overflow: hidden;
    position: absolute;
    top: 100%;
    transition: var.$transition;
  }


  &:hover {
    cursor: pointer;
  }
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  color: var.$typography-color2;
  align-items: center;
  padding: 0.5em;
  
  & > p {
    display: none;
  }

  & > img {
    width: auto;
    height: 1em;
    border: 1px solid var.$typography-color6;
  }

  @include mixin.onTablet {
    width: 150px;

    & > p {
      display: block;
    }
    
  }
}