@use '../../../utils/mixins' as mixin;
@use '../../../utils/vars' as var;
@use '../../../utils/placeholders';

.wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
