$primaryFont: --openSans-default, --lato-default, sans-serif;

$max-width: 2560px;
$transition: all 0.3s ease-out;

$typography-color: #424242;
$typography-color2: #485460;
$typography-color3: #2A7ACB;
$typography-color4: #fff;
$main-bg-color: #fff;

$logo-height: 65px;
$logo-width: 170px;

$box-shadow: -3px 20px 11px 4px $typography-color;
$box-shadow__nav: 0px 10px 10px 0 $typography-color2;
